html {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-image: url(../image/ron-swanson-wallpapers.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    min-height: calc(100vh - 100px);
}

section {
    display: flexbox;
    align-items: flex-end;
    padding: 2em;
    margin: 0;
    font-size: large;
    width: 300px;
    height: 300px;
}

main < p {
   text-align: center;
   font-size: x-large; 
}
footer {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color:rgb(138, 4, 179);
}

button {
    border-radius: 10px;
    background-color: rgb(151, 6, 196);
    color: blanchedalmond;
}

a {
    color: black;
}